-- Re-enable RLS on all tables
ALTER TABLE patients ENABLE ROW LEVEL SECURITY;
ALTER TABLE doctors ENABLE ROW LEVEL SECURITY;
ALTER TABLE consultations ENABLE ROW LEVEL SECURITY;
ALTER TABLE diagnoses ENABLE ROW LEVEL SECURITY;
ALTER TABLE treatments ENABLE ROW LEVEL SECURITY;
ALTER TABLE medications ENABLE ROW LEVEL SECURITY;
ALTER TABLE bills ENABLE ROW LEVEL SECURITY;
ALTER TABLE billing_items ENABLE ROW LEVEL SECURITY;
ALTER TABLE feedback ENABLE ROW LEVEL SECURITY;
ALTER TABLE appointments ENABLE ROW LEVEL SECURITY;
-- Patients Policies
CREATE POLICY \
Patients
can
view
own
record\ ON patients FOR SELECT USING (auth.uid() = auth_user_id);
CREATE POLICY \
Doctors
can
view
all
patients\ ON patients FOR SELECT USING (EXISTS (SELECT 1 FROM doctors WHERE id = auth.uid()));
CREATE POLICY \
Patients
can
insert
own
record\ ON patients FOR INSERT WITH CHECK (auth.uid() = auth_user_id);
CREATE POLICY \
Patients
can
update
own
record\ ON patients FOR UPDATE USING (auth.uid() = auth_user_id);
CREATE POLICY \
Doctors
can
update
patient
status\ ON patients FOR UPDATE USING (EXISTS (SELECT 1 FROM doctors WHERE id = auth.uid()));
-- Doctors Policies
CREATE POLICY \
Anyone
can
view
doctors\ ON doctors FOR SELECT USING (true);
CREATE POLICY \
Doctors
can
insert
own
profile\ ON doctors FOR INSERT WITH CHECK (auth.uid() = id);
CREATE POLICY \
Doctors
can
update
own
profile\ ON doctors FOR UPDATE USING (auth.uid() = id);
-- Consultations Policies
CREATE POLICY \
Patients
view
own
consultations\ ON consultations FOR SELECT USING (patient_id IN (SELECT id FROM patients WHERE auth_user_id = auth.uid()));
CREATE POLICY \
Doctors
view
own
consultations\ ON consultations FOR SELECT USING (doctor_id = auth.uid());
CREATE POLICY \
Doctors
can
insert
consultations\ ON consultations FOR INSERT WITH CHECK (doctor_id = auth.uid());
CREATE POLICY \
Doctors
can
update
consultations\ ON consultations FOR UPDATE USING (doctor_id = auth.uid());
-- Medical Records (Diagnoses, Treatments, Medications)
CREATE POLICY \
Patients
view
own
diagnoses\ ON diagnoses FOR SELECT USING (patient_id IN (SELECT id FROM patients WHERE auth_user_id = auth.uid()));
CREATE POLICY \
Doctors
can
insert
diagnoses\ ON diagnoses FOR INSERT WITH CHECK (EXISTS (SELECT 1 FROM doctors WHERE id = auth.uid()));
CREATE POLICY \
Doctors
can
update
diagnoses\ ON diagnoses FOR UPDATE USING (EXISTS (SELECT 1 FROM doctors WHERE id = auth.uid()));
CREATE POLICY \
Doctors
can
select
diagnoses\ ON diagnoses FOR SELECT USING (EXISTS (SELECT 1 FROM doctors WHERE id = auth.uid()));
CREATE POLICY \
Patients
view
own
treatments\ ON treatments FOR SELECT USING (patient_id IN (SELECT id FROM patients WHERE auth_user_id = auth.uid()));
CREATE POLICY \
Doctors
can
insert
treatments\ ON treatments FOR INSERT WITH CHECK (EXISTS (SELECT 1 FROM doctors WHERE id = auth.uid()));
CREATE POLICY \
Doctors
can
update
treatments\ ON treatments FOR UPDATE USING (EXISTS (SELECT 1 FROM doctors WHERE id = auth.uid()));
CREATE POLICY \
Doctors
can
select
treatments\ ON treatments FOR SELECT USING (EXISTS (SELECT 1 FROM doctors WHERE id = auth.uid()));
CREATE POLICY \
Patients
view
own
medications\ ON medications FOR SELECT USING (treatment_id IN (SELECT t.id FROM treatments t JOIN patients p ON t.patient_id = p.id WHERE p.auth_user_id = auth.uid()));
CREATE POLICY \
Doctors
can
select
medications\ ON medications FOR SELECT USING (EXISTS (SELECT 1 FROM doctors WHERE id = auth.uid()));
CREATE POLICY \
Doctors
can
insert
medications\ ON medications FOR INSERT WITH CHECK (EXISTS (SELECT 1 FROM doctors WHERE id = auth.uid()));
CREATE POLICY \
Doctors
can
update
medications\ ON medications FOR UPDATE USING (EXISTS (SELECT 1 FROM doctors WHERE id = auth.uid()));
-- Billing Policies
CREATE POLICY \
Patients
view
own
bills\ ON bills FOR SELECT USING (patient_id IN (SELECT id FROM patients WHERE auth_user_id = auth.uid()));
CREATE POLICY \
Doctors
can
select
bills\ ON bills FOR SELECT USING (EXISTS (SELECT 1 FROM doctors WHERE id = auth.uid()));
CREATE POLICY \
Doctors
can
insert
bills\ ON bills FOR INSERT WITH CHECK (EXISTS (SELECT 1 FROM doctors WHERE id = auth.uid()));
CREATE POLICY \
Doctors
can
update
bills\ ON bills FOR UPDATE USING (EXISTS (SELECT 1 FROM doctors WHERE id = auth.uid()));
CREATE POLICY \
Patients
view
own
billing
items\ ON billing_items FOR SELECT USING (bill_id IN (SELECT b.id FROM bills b JOIN patients p ON b.patient_id = p.id WHERE p.auth_user_id = auth.uid()));
CREATE POLICY \
Doctors
can
select
billing
items\ ON billing_items FOR SELECT USING (EXISTS (SELECT 1 FROM doctors WHERE id = auth.uid()));
CREATE POLICY \
Doctors
can
insert
billing
items\ ON billing_items FOR INSERT WITH CHECK (EXISTS (SELECT 1 FROM doctors WHERE id = auth.uid()));
CREATE POLICY \
Doctors
can
update
billing
items\ ON billing_items FOR UPDATE USING (EXISTS (SELECT 1 FROM doctors WHERE id = auth.uid()));
-- Appointments Policies
CREATE POLICY \
Patients
view
own
appointments\ ON appointments FOR SELECT USING (patient_id IN (SELECT id FROM patients WHERE auth_user_id = auth.uid()));
CREATE POLICY \
Patients
can
insert
appointments\ ON appointments FOR INSERT WITH CHECK (patient_id IN (SELECT id FROM patients WHERE auth_user_id = auth.uid()));
CREATE POLICY \
Patients
can
update
own
appointments\ ON appointments FOR UPDATE USING (patient_id IN (SELECT id FROM patients WHERE auth_user_id = auth.uid()));
CREATE POLICY \
Doctors
view
own
appointments\ ON appointments FOR SELECT USING (doctor_id = auth.uid());
CREATE POLICY \
Doctors
can
update
own
appointments\ ON appointments FOR UPDATE USING (doctor_id = auth.uid());
-- Feedback Policies
CREATE POLICY \
Patients
view
own
feedback\ ON feedback FOR SELECT USING (patient_id IN (SELECT id FROM patients WHERE auth_user_id = auth.uid()));
CREATE POLICY \
Patients
can
insert
feedback\ ON feedback FOR INSERT WITH CHECK (patient_id IN (SELECT id FROM patients WHERE auth_user_id = auth.uid()));
CREATE POLICY \
Doctors
can
select
feedback\ ON feedback FOR SELECT USING (EXISTS (SELECT 1 FROM doctors WHERE id = auth.uid()));
